# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
article.aux
article.bbl
article.blg
article.log
article.out
article.pdf
article.tdo
main.aux
main.bbl
main.blg
main.log
main.pdf
article.doc
article.docx
article.rtf
article.bcf
article.run.xml
article.txt
article.md
article_babette_*
article_body.pdf
response_letter/response_letter_babette_*
cover_letter_resubmission/*.docx
figures/figures.aux
figures/figures.bbl
figures/figures.blg
figures/figures.log
figures/figures.out
figures/figures_untrimmed.jpg
